
@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>
<p>Bienvenido a nuestro sistema No Mas Accidentes</p>

@Html.ActionLink("listado de productos", "index", "Contrato")

@Html.ActionLink("create contrato", "Create", "Contrato")